<form
  class="row g-3 mb-3"
  ngNativeValidate
  [formGroup]="formAgregarCaracteristicas"
  (ngSubmit)="agregarCaracteristica()"
>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputCaracteristica" class="col-form-label"
        >Caracteristica:</label
      >
    </div>
    <div class="col-3">
      <input
        type="text"
        id="inputCaracteristica"
        class="form-control"
        name="caracteristica_descripcion"
        formControlName="caracteristica_descripcion"
        placeholder="Escribe una caracteristica..."
        required
      />
    </div>
    <div class="col-auto">
      <label for="inputValor" class="col-form-label">Valor:</label>
    </div>
    <div class="col-3">
      <input
        type="text"
        id="inputValor"
        class="form-control"
        formControlName="valor"
        name="valor"
        placeholder="Escribe el valor..."
        required
      />
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Agregar caracteristica
      </button>
    </div>
  </div>
</form>

<div class="card text-center">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Caracteristica</th>
            <th scope="col">Valor</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let caracteristica of caracteristicas; let fila = index">
            <td>{{ caracteristica.caracteristica_descripcion }}</td>
            <td>{{ caracteristica.valor }}</td>
            <td>
              <div class="d-flex gap-2 d-md-flex justify-content-md-center">
                <a
                  (click)="
                    eliminarCaracteristica(
                      caracteristica.idCaracteristica,
                      fila
                    )
                  "
                  title="Eliminar caracteristica."
                  class="btn btn-outline-danger"
                >
                  <i class="bi bi-x-circle-fill"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
